.header{
display:flex;
height:80px;
padding:2em;
justify-content: space-between;
background-color: white;
}
.header .nav{
    display:flex;
    align-items: center;
}
.header a{
    all:unset;
    margin-left:  1em;
    color:#16219e;
}
.header a:hover{
    border-bottom: 2px solid #16219e;
    padding-bottom:2px;
}
.logo{
    width:auto;
    height:80px;
    margin-right:2em;
}
.search{
    background-color: #767fe2;
    display:flex;
    align-items: center;
    width:320px;
    margin:1em;
    border-radius:16px;
}
.searchIcon{
    width:auto;
    height:20px;
    margin-left:1em;
    
}

@media (max-width: 800px) {
    .search {
        width:240px;
    }
  }

@media (max-width: 680px) {

    .header{
        height:40px;
    }
    .header a{
        margin-left:  0.5em;
    }
    .logo{
        width:auto;
        height:40px;
        margin-right:1em;
    }
    .search {
        width:52px;
        background-color: none;
        margin:0;
    }
  }